.grid-container {
    display: grid;
}

/*general styling*/

.skip-to-main {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-to-main:focus {
    position: static;
    width: auto;
    height: auto;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    text-decoration: underline;
}


img {
    margin: auto;
    border-radius: 15px;
    width: 400px;
}

body {
    background: #fff6da;
    font-family: Arial, Verdana;
    color: #00204a;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 39px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #00204a;
    color: #ffffff;
}

h2 {
    color: #005792;
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 10px;
}

h3 {
    color: #005792;
    font-weight: bold;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
}

ul {
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-bottom: 20px;
    list-style-type: square;
}

ul li {
    margin-bottom: 20px;
}

summary{
    color: #005792;
    font-weight: bold;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
}


/*mobile view*/

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
  
    /*Turn off parallax*/
    header{
      background-attachment: initial;
    }
  }
  

@media only screen and (max-width: 768px) {

    nav li {
        display: inline;
        float: right;
        padding-right: 28px;
    }

    nav {
        background-color: #00204a;
        overflow: hidden;
    }

    nav a {
        background-color: #00204a;
        color: #ffffff;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
    }

    nav {
        position: fixed;
        /* Set the navbar to fixed position */
        bottom: 0;
        /* Position the navbar at the bottom of the page */
        width: 100%;
        /* Full width */
        padding: 14px 0px 0px 0px;
        text-decoration: none;
    }

    nav a:active {
        background-color: #ddd;
        color: #000000;
    }

    /* Main content */
    .main {
        margin-bottom: 30px;
        /* Add a bottom margin to avoid content overlay */
    }



    img {
        margin: auto;
        margin-bottom: 15px;
        border-radius: 15px;
        width: 300px;
    }

    /*mobile pets page grid*/

    .bacon-photos {
        display: grid;
        grid-template-columns: 1fr;
    }

    .pluto-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .smoothie-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .fitz-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .sage-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    /*mobile recipes page grid*/

    .mac-and-cheese-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .jiaozi-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .chinese-hot-and-sour-soup-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    /*mobile travel page grid*/
    .guanajuato-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .vaitcan-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .london-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

}

/*tablet view*/
@media only screen and (min-width:768px) and (max-width: 991px){
    nav li {
        display: inline;
       /* padding-right: 130px;*/
       float: right;
       padding: 0px 130px 0px 0px;
    }

    /*experiment*/
    .bacon-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .pluto-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .smoothie-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .fitz-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sage-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*mobile recipes page grid*/

    .mac-and-cheese-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .jiaozi-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .chinese-hot-and-sour-soup-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*mobile travel page grid*/
    .guanajuato-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .vaitcan-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .london-photos {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /*experiment ends*/

    nav {
        background-color: #00204a;
        overflow: hidden;
    }


    nav a {
        background-color: #00204a;
        color: #ffffff;
        font-weight: bold;
        font-size: 25px;
        text-decoration: none;
        
    }

    nav {
        position: fixed;
        /* Set the navbar to fixed position */
        bottom: 0;
        /* Position the navbar at the bottom of the page */
        width: 100%;
        /* Full width */
        padding: 14px 0px 0px 0px;
    }
    nav a:active {
        background-color: #ddd;
        color: #000000;
    }

    /* Main content */
    .main {
        margin-bottom: 30px;
        /* Add a bottom margin to avoid content overlay */
    }

}

/*desktop view*/

@media only screen and (min-width:992px) {

    /*HERE IS WHERE I MESS UP THE CODE*/

    nav li {
        display: inline;
        padding-right: 40px;

    }

    nav {
        background-color: #00204a;
        overflow: hidden;
    }

    /*fixing stuff */
    /* Style the links inside the navigation bar */
    nav {
        background-color: #00204a;
        overflow: hidden;
    }

    nav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;

    }

    /* Change the color of links on hover */
    nav a:hover {
        background-color: #ddd;
        color: #000000;
    }

    nav .active {
        background-color: #ddd;
        color: #000000;
    }

    /* Add a color to the active/current link */

    /*fixing stuff ends*/

    /*pets page grid*/

    .bacon-photos {
        margin-left: 100px;
        display: grid;
        grid-template-columns: 410px 410px 200px 410px;
    }

    .pluto-photos {
        margin-left: 60px;
        grid-template-columns: 410px 410px 410px 410px;
    }

    .smoothie-photos {
        margin-left: 60px;
        display: grid;
        grid-template-columns: 410px 410px 410px 410px;
    }

    .fitz-photos {
        margin-left: 60px;
        display: grid;
        grid-template-columns: 410px 410px 410px 410px;
    }

    .sage-photos {
        margin-left: 60px;
        display: grid;
        grid-template-columns: 410px 410px 410px 410px;
    }

    /*recipe page grid*/
    .mac-and-cheese-photos {
        margin-left: 60px;
        display: grid;
        grid-template-columns: 410px 410px 410px 410px;
    }

    .jiaozi-photos {
        margin-left: 60px;
        display: grid;
        grid-template-columns: 410px 410px 410px 410px;
    }

    .chinese-hot-and-sour-soup-photos {
        margin-left: 60px;
        display: grid;
        grid-template-columns: 410px 410px 410px 410px;
    }

    /*travel page grid*/
    .guanajuato-photos {
        margin-left: 20px;
        display: grid;
        grid-template-columns: 410px 410px 410px 410px;
    }

    .vatican-photos {
        margin-left: 60px;
        display: grid;
        grid-template-columns: 410px 410px 410px 410px;
    }

    .london-photos {
        margin-left: 60px;
        display: grid;
        grid-template-columns: 410px 410px 410px 410px;
    }
}

nav .active {
    background-color: #ddd;
    color: #000000;
}